.serverless-github-heatmap {
  --serverless-github-color-0: #161b22;
  --serverless-github-color-1: #0e4429;
  --serverless-github-color-2: #006d32;
  --serverless-github-color-3: #26a641;
  --serverless-github-color-4: #39d353;
}
