.serverless-github-heatmap {
  --serverless-github-color-0: #ebedf0;
  --serverless-github-color-1: #9be9a8;
  --serverless-github-color-2: #40c463;
  --serverless-github-color-3: #30a14e;
  --serverless-github-color-4: #216e39;
}
